body {
    min-width:350px;
    align: center;
    padding-top: 150px;
    min-height: 800px;
    background-color: #48CFAD;
}

.pagination {
	margin-top: 2px;
	margin-bottom: 2px;
}

#header {
	margin-left: 4%;
}

.list-group-item {
	background-color: #37BC98;
}

