    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div id = "alert"></div>
            <div class="navbar-header">
                <h2 class="navbar-text">All Classes</h2> 
            </div>
            <span>
                            <button type="button" ng-click = "show()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                            <button type="button" ng-click = "dshow()" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                             <form ng-show = "showForm">
                              <fieldset class="form-group">
                                <label for="formGroupExampleInput">Class Name</label>

                                <input required type="text" ng-model = "newClass.name" class="form-control" id="formGroupExampleInput" placeholder="some class">
                              </fieldset>
                              <fieldset class="form-group">
                              <div class="input-group bootstrap-timepicker timepicker pull-left">
                             <label for = "startTime"><b>Start:</b></label><input ng-model = "newClass.time.start" id="start" type="text" class="form-control input-small">
                               </div>
                               <div class="input-group bootstrap-timepicker timepicker pull-left">
                             <label for = "endTime"><b>End:</b></label><input ng-model = "newClass.time.end" id="end" type="text" class="form-control input-small">
                               </div>
                               </fieldset>
                                <fieldset class = "formgroup">
                                  <span>
                                <label class="checkbox-inline">
                                  <input ng-model = "newClass.day.Mon" type="checkbox" id="inlineCheckbox1" value="option1"> Mon
                                </label>

                                <label class="checkbox-inline">
                                  <input ng-model = "newClass.day.Tue" type="checkbox" id="inlineCheckbox2" value="option2"> Tue
                                </label>
                                <label class="checkbox-inline">
                                  <input ng-model = "newClass.day.Wed" type="checkbox" id="inlineCheckbox3" value="option3"> Wed
                                </label>
                                <label class="checkbox-inline">
                                  <input ng-model = "newClass.day.Thu" type="checkbox" id="inlineCheckbox2" value="option2"> Thu
                                </label>
                                <label class="checkbox-inline">
                                  <input ng-model = "newClass.day.Fri" type="checkbox" id="inlineCheckbox3" value="option3"> Fri
                                </label>
                              </fieldset>
                              <fieldset class="form-group">
                                <label for="formGroupExampleInput2">Instructor</label>
                                <input required type="text" ng-model = "newClass.instructor" class="form-control" id="formGroupExampleInput2" placeholder="some instructor">
                              </fieldset>
                              <fieldset class="form-group">
                                <label for="formGroupExampleInput2">Location</label>
                                <input type="text" ng-model = "newClass.location" class="form-control" id="formGroupExampleInput2" placeholder="some location">
                              </fieldset>
        
                               
                              <span>
                                <button type="submit" class="btn btn-primary" ng-click = "submit()">Submit</button>
                            </span>
                            </form>
        </div>
    </nav>

    <button type = "button" class = "rightButtom btn btn-default btn-sm"><a ui-sref = "app.weekschedule">This Week</a></button>
