<div class = "classes" ng-click = "hide()">
	<ul class="list-group">
					  <li class="list-group-item" ng-repeat = "class in schedules ">
					  	<button type="button" ng-show = "showDelete" ng-click = "delete(class.name)" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-minus"></span></button>
					  	
					  	 	<h2><em>{{class.name}}</em></h2>

					  	 <p><b>Days:</b> {{class.day}}</p>
					  	 <p><b>Time:</b> {{class.time.start}} - {{class.time.end}}</p>
<p><b>Instructor:</b><a title='Overall: {{class.rating.overall}}
Would Take Again: {{class.rating.takeAgain}}
Difficulty: {{class.rating.difficulty}}' data-html="true" rel="tooltip" ng-href="{{class.rating.infoURL}}"> {{class.instructor}}</a></p>
					  
					  	 <p>		<b>Location:</b> {{class.location}}</p>
					  </li>
	</ul>

</div>