<div class = "classes">
	<ul class="list-group">
					  <li class="list-group-item" ng-repeat = "class in schedules ">
					  	<button type="button" ng-show = "showDelete" ng-click = "delete(class.name)" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-minus"></span></button>
					  	
					  	 	<h2>{{class.name}}</h2>

					  	 <p>Days: {{class.day}}</p>
					  	 <p>Time: {{class.time}}</p>
					  	 <p>Instructor: {{class.instructor}}<p>
					  	 <div class = "rating">
					  	 	<p>		Overall: {{class.rating.overall}}</p>
					  	 	<p>		Would Take Again: {{class.rating.takeAgain}}</p>
					  	 	<p>		Difficulty: {{class.rating.difficulty}}</p>
					  	 </div>
					  	 <p>		Location: {{class.location}}</p>
					  </li>
	</ul>

</div>