		<nav>
			<nav id = "week" class = "navbar navbar-default navbar-fixed-top">
				<div id = "header">
				  <ul class="pagination">
				    <li>
				      <a aria-label="Previous">
				        <span ng-click = "selectPrev()" aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li ng-click = "select(1)" ng-class="{active:isSelected(1)}"><a>Mon</a></li>
				    <li ng-click = "select(2)" ng-class="{active:isSelected(2)}"><a>Tue</a></li>
				    <li ng-click = "select(3)" ng-class="{active:isSelected(3)}"><a>Wed</a></li>
				    <li ng-click = "select(4)" ng-class="{active:isSelected(4)}"><a>Thu</a></li>
				    <li ng-click = "select(5)" ng-class="{active:isSelected(5)}"><a>Fri</a></li>
				    <li>
				      <a aria-label="Next">
				        <span ng-click = "selectNext()" aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>

				</div>
			 </nav>

		  		<div class = "schedules">

					<ul class="list-group">
					  <li class="list-group-item" ng-repeat = "class in schedules | filter:filtText">
					  	
					  	 <span>
					  	 	<h2><em>{{class.name}}</em></h2>
					  	 </span>
					  	 <p><b>Time:</b> {{class.time.start}} - {{class.time.end}}</p>
					  	 <p><b>Instructor:</b> {{class.instructor}}</p>
					  	 <p><b>Location:</b> {{class.location}}</p>
					  </li>
					</ul>

				</div>

		</nav>

		    <button type = "button" class = "leftButtom btn btn-default btn-sm"><a ui-sref = "app">All Class</a></button>